.sablon {
  width: 1903px;
  height: auto;
  margin: 30px auto;
}
.logo {
  width: 100px;
  height: 100px;
  float: left;
  background: url(images/logo.png);
  border-radius: 10px;
}
.banner {
  width: 630px;
  height: 60px;
  float: left;
  margin: 0 0 0 10px;
  background: url(images/banner.jpg);
  border-radius: 10px;
  color: #fff;
  font: bold 15px tahoma;
  text-align: center;
  padding: 40px 0 0 0;
}
.sosyal {
  width: 150px;
  height: 47px;
  float: left;
  margin: 10px 0 0 10px;
}
.orta1 {
  width: 740px;
  height: 350px;
  float: left;
  margin: 10px 0 10px 0;
  background: #016dd9;
}
.orta2 {
  width: 240px;
  height: 240px;
  float: left;
  background: #4da6ff;
}
.orta3 {
  width: 240px;
  height: 240px;
  float: left;
  margin: 0 0 0 10px;
  background: #99cdff;
}
.orta4 {
  width: 240px;
  height: 240px;
  float: left;
  margin: 0 0 0 10px;
  background: #bedffe;
}
.alt {
  width: 740px;
  height: 90px;
  float: left;
  margin: 10px 0 0 0;
  background: #bfeefe;
  border-radius: 10px;
}
.menu5 {
  width: 1903px;
  height: 47px;
  float: left;
  margin: 10px 0 0 0;
  background: #00468c;
}
.menu5 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu5 ul li {
  float: left;
  position: relative;
}
.menu5 ul li a {
  display: block;
  width: 143px;
  height: 32px;
  background: #06f;
  color: #fff;
  font: bold 12px tahoma;
  text-decoration: none;
  padding: 15px 0 0 0;
  border: 1px solid #003466;
  text-align: center;
}
.menu5 ul li a:hover {
  color: #fff;
  background: #06f;
}
.menu5 ul li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 48px;
}
.menu5 ul li:hover ul {
  display: block;
}
