/***** RESET *****/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*font-size: 100%;
	vertical-align: baseline;*/
}
html,
body {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} /* tables still need 'cellspacing="0"' in the markup */
textarea {
  overflow: auto;
}
/***** RESET *****/
.hepsi {
  width: 1000px;
  height: auto;
  margin: 0 auto;
}
.menu {
  width: 1000px;
  height: 46px;
  background: #333333;
}
.orta1 {
  width: 250px;
  height: 85px;
  margin: 40px auto 0 auto;
}
.orta2 {
  width: 863px;
  height: 79px;
  margin: 0 auto;
  background: url(images/6sbanner.png) center bottom no-repeat;
  padding: 327px 0 0 20px;
}
.orta3 {
  width: 883px;
  height: 45px;
  margin: 0 auto;
  background: url(images/shadow.png);
}
.orta4 {
  width: 743px;
  height: 200px;
  margin: 0 auto;
  font: 20px helvetica;
  color: #666;
  text-align: center;
}
.orta5 {
  width: 1000px;
  height: 480px;
  background: #333333;
}
.orta6 {
  width: 840px;
  height: 45px;
  margin: 40px auto 0 auto;
}
.orta7 {
  width: 840px;
  height: 229px;
  margin: 40px auto;
}
.orta7 {
  width: 840px;
  height: 229px;
  margin: 40px auto;
}
.orta8 {
  width: 840px;
  height: 229px;
  margin: 0 auto;
}
.alt {
  width: 840px;
  height: 25px;
  margin: 80px auto 30px auto;
}
.menu ul li {
  float: left;
}
.menu ul li a {
  display: block;
  text-indent: -2000px;
  margin: 0 0 0 60px;
}
.menu ul li#logo a {
  width: 20px;
  height: 44px;
  background: url(images/logo.gif) no-repeat;
  margin: 0 0 0 30px;
}
.menu ul li#mac a {
  width: 31px;
  height: 44px;
  background: url(images/mac.gif) no-repeat;
}
.menu ul li#ipad a {
  width: 30px;
  height: 44px;
  background: url(images/ipad.gif) no-repeat;
}

.menu ul li#iphone a {
  width: 48px;
  height: 44px;
  background: url(images/iphone.gif) no-repeat;
}

.menu ul li#watch a {
  width: 44px;
  height: 44px;
  background: url(images/watch.gif) no-repeat;
}

.menu ul li#tv a {
  width: 20px;
  height: 44px;
  background: url(images/tv.gif) no-repeat;
}

.menu ul li#music a {
  width: 40px;
  height: 44px;
  background: url(images/music.gif) no-repeat;
}

.menu ul li#destek a {
  width: 48px;
  height: 44px;
  background: url(images/destek.gif) no-repeat;
}

.menu ul li#search a {
  width: 20px;
  height: 44px;
  background: url(images/search.gif) no-repeat;
  margin: 0 0 0 100px;
}

.menu ul li#shop a {
  width: 18px;
  height: 44px;
  background: url(images/shop.gif) no-repeat;
  margin: 0 0 0 100px;
}
.menu ul li a:hover {
  opacity: 0.5;
}
.orta2ic1 {
  width: 66px;
  height: 55px;
  float: left;
  margin: 14px 0 0 0;
}
.orta2ic2 {
  width: 36px;
  height: 52px;
  float: left;
  margin: 17px 0 0 60px;
}
.orta2ic3 {
  width: 42px;
  height: 51px;
  float: left;
  margin: 18px 0 0 60px;
}
.orta2ic4 {
  width: 71px;
  height: 69px;
  float: left;
  margin: 0 0 0 300px;
}
.orta2ic5 {
  width: 67px;
  height: 69px;
  float: left;
  margin: 0 0 0 40px;
}
.orta2ic6 {
  width: 67px;
  height: 69px;
  float: left;
  margin: 0 0 0 40px;
}
.orta4 span {
  font: bold 19px helvetica;
  color: #333;
}
